
:root {
  --background-color: #d3d6da;
  --green: #6aaa64;
  --yellow: #c9b458;
  --grey: #86888a;
}

* {
  margin: 0;
  padding: 8px 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  background-color: var(--background-color);
  font-size: calc(16px + 2vmin);
}

.tile, .tile-green, .tile-yellow, .tile-grey {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  gap: 8px;
}

.tile-green {
  background-color: var(--green);
}

.tile-yellow {
  background-color: var(--yellow);
}

.tile-grey {
  background-color: var(--grey);
}

.row {
  display: flex;
  gap: 8px;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}